<!-- navbar section -->

<nav class="navbar navbar-expand-lg navbar-light bg-success sticky-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Django blog</a>
    <!--button-->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-lg-0 ">
            <!--Home-->
            <li class="nav-item">
                <a href="" class="nav-link active">Home</a>
            </li>
            <!--Category-->
            <li class="nav-item">
                <a href="" class="nav-link active">Category</a>
            </li>
            <!--Add category-->
            <li class="nav-item">
                <a href="" class="nav-link active">Add category</a>
            </li>
            <!--Add New Post-->
            <li class="nav-item">
                <a href="" class="nav-link active">Add New Post</a>
            </li>
        </ul>
        
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!--welcome-->
            <li class="nav-item">
                <a href="" class="nav-link active">Welcome:xudayfi</a>
            </li>
            <!--logout-->
            <li class="nav-item">
                <a href="" class="nav-link active">Logout</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
